{
    "intersystems.servers": {
        "example-server": {
            "webServer": {
                "scheme": "http",
                "host": "localhost",
                "port": 80,
                "pathPrefix": ""
            },
            "username": "",
            "password": ""
        }
    }
}
